<center class="SignUp-Form">
  <h1 class="class="NewUsers-title"">Please enter these details.</h1>
  <section class="UserNew">
    <%= form_with url: change_password_path do |form| %>
      <div class="Form-Section">
        <p class="FormInput-label">New Password:</p>
        <%= form.password_field :new_p, class: "Form-Input" %>
      </div>
      <div class="Form-Section">
        <p class="FormInput-label">Re-type new password:</p>
        <%= form.password_field :retype, class: "Form-Input" %>
      </div>
      <div class="Form-Section">
      <%= form.submit "Change Password!", class: "Form-Submit" %>
      </div>
    <% end %>
  </section>
</center>
