<br><br><br><br><br><br><br><br><br><br><br><br>
<div>
  <section class="HostelOptions">
    <h3 class="OptionsHeading">What do you want to do?</h3>
    <p><%= link_to " Book a hostel room.", new_hostel_path, class: "OptionsLink" %></p>
    <p><%= link_to " Purchase a monthly meal course..", meals_path, class: "OptionsLink" %></p>
  </section>
</div>
